{% for screen in artwork %}
<article class="{% if screen.grid-size %}o-grid__item--{{ screen.grid-size }} {% endif %}c-card c-card--gallery">
  <figure class="c-figure">
    <img src="{{ screen.source }}" srcset="{{ screen.source }} 1x, {{ screen.source-hq }} 2x" sizes="100vw" {% if screen.alt %}alt="{{ screen.alt }}"{% endif %} lazyload="on">
    {%- if screen.figcaption %}
    <figcaption class="c-figure__caption"><p>{{ screen.figcaption }}</p></figcaption>
    {% endif %}
  </figure>
</article>
{% endfor %}