<meta charset="utf-8">
<meta name="theme-color" content="#000000"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if type != 'home' %}{{ title }} - {% endif %}{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">

<meta property="og:title" content="Jeremy Swinnen">
<meta property="og:description" name="description" content="A creative developer and designer with a focus on digital product design for mobile platforms.">
<meta property="og:url" content="https://jeremyswinnen.com">
<meta property="og:image" content="{% if coverImage %}{{ coverImage }}{% else %}{{ site.image }}{% endif %}">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@jereswinnen">
<meta name="twitter:title" content="Jeremy Swinnen">
<meta name="twitter:image" content="{% if coverImage %}{{ coverImage }}{% else %}{{ site.image }}{% endif %}">

<link rel="dns-prefetch" href="https://res.cloudinary.com">

<link rel="icon" href="/_assets/favicons/base--16.png" type="image/png" sizes="16x16">
<link rel="icon" href="/_assets/favicons/base--32.png" type="image/png" sizes="32x32">
<link rel="icon" href="/_assets/favicons/base--48.png" type="image/png" sizes="48x48">
<link rel="icon" href="/_assets/favicons/base--256.png" type="image/png" sizes="256x256">

<link rel="apple-touch-icon" href="/_assets/favicons/apple-touch-icon--180.png">
<link rel="mask-icon" href="/_assets/favicons/safari-pinned-tab.svg" color="#17171B">

<link rel="stylesheet" href="/_assets/styles/global.css" type="text/css">
<link rel="stylesheet" href="https://use.typekit.net/xfa8suk.css">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140777865-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-140777865-1');
</script>