<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#000000"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if type == 'home' %}{{ site.title }} — {{ site.description}}{% endif %}{{ title }} — {{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@jereswinnen">
  <meta name="twitter:creator" content="@jereswinnen">
  <meta name="twitter:domain" content="madebymatter.co">
  <meta name="twitter:title" content="Digital product design for mobile platforms - Matter">
  <meta name="twitter:description" content="A creative developer and designer with a focus on digital product design for mobile platforms.">

  <link rel="icon" href="/_assets/images/favicons/base--16.png" type="image/png" sizes="16x16">
  <link rel="icon" href="/_assets/images/favicons/base--32.png" type="image/png" sizes="32x32">
  <link rel="icon" href="/_assets/images/favicons/base--48.png" type="image/png" sizes="48x48">
  <link rel="icon" href="/_assets/images/favicons/base--256.png" type="image/png" sizes="256x256">

  <link rel="apple-touch-icon" href="/_assets/images/favicons/apple-touch-icon--180.png">
  <link rel="mask-icon" href="/_assets/images/favicons/safari-pinned-tabs.svg" color="#333333">

  <link rel="stylesheet" href="/_assets/styles/global.css" type="text/css">

  <link rel="stylesheet" href="https://use.typekit.net/xfa8suk.css">
</head>
<body>
  <section class="o-grid o-grid--{{ layout }} c-page">