<header class="o-grid__align--inset c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ lede }}</h2>

  <ul class="c-list c-list--horizontal" role="elsewhere"> //apply flex on larger bp
    <li class="c-list__item"><a href="#"><svg>icon goes here</svg>link</a></li> //apply flex
  </ul>

  <aside class="c-page__aside" role="elsewhere">
    <h3>Elsewhere</h3>
    <ul class="c-list c-list--">
    {% for item in elsewhere %}
      <li><a href="{{ item.url }}">{{ item.platform }}<span>{{ item.handle }}</span></a></li> 
    {% endfor %} 
    </ul>
  </aside>
</header>
<section class="c-page__body c-section">
  <form action="/contact/success" method="post" role="contact-form" class="c-form">
    <fieldset class="c-form__fields">
      <div class="c-form__field">
        <label class="c-form__label" for="name"><h4>Name</h4></label>
        <input class="c-form__input" id="name" name="name" type="text" required>
      </div>
      <div class="c-form__field">
        <label class="c-form__label" for="email"><h4>Email address</h4></label>
        <input class="c-form__input" id="email" name="email" type="email" required>
      </div>
      <div class="c-form__field">
        <label class="c-form__label" for="message"><h4>Message</h4></label>
        <textarea class="c-form__input" id="message" name="message" rows="8" cols="22" required></textarea>
      </div>
      <button class="c-form__button" type="submit">Send</button>
    </fieldset>
  </form>
</section>