<header class="o-grid__align--inset c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ lede }}</h2>  
</header>
{% if type == 'home' %}
<section class="o-grid__collage c-section">
  {% for case in cases %}
  <article class="{% if case.grid-size %}o-grid__item--{{ case.grid-size }} {% endif %}c-card c-card--work c-card--work--{{ case.name | downcase | remove:' ' }}">
    <figure class="c-card__image">
      <img src="{{ case.cover }}" srcset="{{ case.cover }} 1x, {{ case.cover-hq }} 2x" sizes="100vw" alt="{{ case.name }} &mdash; {{ case.summary }}">
    </figure>
    <header class="c-card__header">
      <h3><a href="/work/{{ case.name | downcase | remove: ' ' }}">{{ case.name }}</a></h3>
      <p>{{ case.summary }}</p>
    </header>
  </article>
  {% endfor %}
</section>
{% else %}
<section class="o-grid__align--measure c-section c-section--hero">
{% if page.fileSlug == 'diabetik' %}
  {% include screens with artwork: artwork.diabetik.cover %} 
{% endif %}
{% if page.fileSlug == 'helpper' %}
  {% include screens with artwork: artwork.helpper.cover %} 
{% endif %}
{% if page.fileSlug == 'immobrown' %}
  {% include screens with artwork: artwork.immobrown.cover %} 
{% endif %}
{% if page.fileSlug == 'realo' %}
  {% include screens with artwork: artwork.realo.cover %} 
{% endif %}
{% if page.fileSlug == 'scorecard' %}
  {% include screens with artwork: artwork.scorecard.cover %} 
{% endif %}
{% if page.fileSlug == 'shelf' %}
  {% include screens with artwork: artwork.shelf.cover %} 
{% endif %}  
</section>
<article class="c-page__body c-page__body--mc c-article">
  {{ content }}
</article>
<section class="o-grid__collage c-section" style="dislay:none;">
{% if page.fileSlug == 'diabetik' %}
  {% include screens with artwork: artwork.diabetik.collage %} 
{% endif %}
{% if page.fileSlug == 'helpper' %}
  {% include screens with artwork: artwork.helpper.collage %} 
{% endif %}
{% if page.fileSlug == 'immobrown' %}
  {% include screens with artwork: artwork.immobrown.collage %} 
{% endif %}
{% if page.fileSlug == 'realo' %}
  {% include screens with artwork: artwork.realo.collage %} 
{% endif %}
{% if page.fileSlug == 'scorecard' %}
  {% include screens with artwork: artwork.scorecard.collage %} 
{% endif %}
{% if page.fileSlug == 'shelf' %}
  {% include screens with artwork: artwork.shelf.collage %} 
{% endif %}
</section>
{% endif %}