<article class="c-article" role="content__pitch">
  {{ content }}
</article>
{% if layout == 'home' %}
<section class="c-section c-section--cases" role="case-studies">
  {% for case in cases %}
  <article class="c-article c-article--{{ case.name | downcase }}"> <!--for item colouring-->
    <figure class="c-figure">
      <a href="/work/{{ case.name | downcase }}"><img src="{{ case.cover }}" alt="{{ case.name }} &mdash; {{ case.summary }}"></a>
    </figure>
    <header class="c-article__header">
      <h3>{{ case.name }}</h3>
      <p>{{ case.summary }}</p>
    </header>
  </article>
  {% endfor %}
</section>
{% endif %}