<header class="c-page__header">
  {{ content }}
</header>
{% if type == 'home' %}
<section class="c-section c-section--collage">
  {% for case in cases %}
  <article class="{% if case.grid-size %}o-grid__item--{{ case.grid-size }} {% endif %}c-card c-card--{{ case.name | downcase | remove:' ' }}">
    <figure class="c-card__artwork">
      <img src="{{ case.cover }}" alt="{{ case.name }} &mdash; {{ case.summary }}">
    </figure>
    <header class="c-card__header">
      <h3><a href="/work/{{ case.name | downcase | remove: ' ' }}">{{ case.name }}</a></h3>
      <p>{{ case.summary }}</p>
    </header>
  </article>
  {% endfor %}
</section>
{% endif %}