<header class="o-grid__align--inset c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ lede }}</h2>
  <nav class="o-grid__align--bleed c-nav c-nav--secondary" role="{{ nav-secondary-role }}">
    <ul class="c-nav__items">
      {% for item in nav-secondary %}
      <li class="c-nav__item"><a href="{{ item.url }}"><img src="{{ item.ion }}" aria-labelledby="{{ item.platform }}">{{ item.platform }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
<section class="c-page__body c-section">
  <form action="https://formsapi.jabwn.com/key/tGykMUQJnGdiH0lXAQ8L" method="post" role="contact-form" class="c-form">
    <fieldset class="c-form__fields">
      <div class="c-form__field">
        <label class="c-form__label" for="name"><h4>Name</h4></label>
        <input class="c-form__input" id="name" name="name" type="text" required>
      </div>
      <div class="c-form__field">
        <label class="c-form__label" for="email"><h4>Email address</h4></label>
        <input class="c-form__input" id="email" name="email" type="email" required>
      </div>
      <div class="c-form__field">
        <label class="c-form__label" for="message"><h4>Message</h4></label>
        <textarea class="c-form__input" id="message" name="message" rows="8" cols="22" required></textarea>
      </div>
      <button class="c-form__button" type="submit" value="Send">Send</button>
    </fieldset>
  </form>
</section>