{% layout master %}
{% block layout %}
<header class="o-grid-align__inset c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ lede }}</h2>  
</header>
<section class="o-grid__abreast c-section">
  <article class="c-card c-card--essay">
    <figure class="c-card__figure c-figure"><img src="https://abload.de/img/godofwar_201804212201qejcj.png" alt="God of War 2018"></figure>
    <header class="c-card__header">
      <h2>Revisiting India's Western Ghats with Chloe and Nadine</h2>
    </header>
    <main class="c-card__main">
      <p>When the Tupac Shakur hologram graced the 2012 Coachella music festival with its glowing, eerie presence for a couple of numbers with a flesh-and-blood Snoop Dogg, it was unsettling enough.</p>
    </main>
    <footer class="c-card__footer">
      <p>Written on June 29 at 5:44pm</p>
    </footer>
  </article><!--end essay-->
  <div>
    <header>
      <h4>Bookmarked</h4>
    </header>
    {% for item in collections.bookmarks %}
    <article class="c-card c-card--bookmark">
      <header class="c-card__header">
        <h3><a href="{{ item.source }}">{{ item.title }}</a></h3>
      </header>
      <main class="c-card__main">
        <a href="{{ item.link }}">{{ item.source }}</a>
      </main>
    </article>
    {% endfor %}
  </div><!--end bookmarks-->
</section><!--end latest article + bookmarks-->
{% endblock %}