{% layout master %}
{% block layout %}
<header class="o-grid-align__inset c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ lede }}</h2>  
</header>
<section class="o-grid__collage c-section">
  {% for case in cases %}
  <article data-theme="{{ case.name | downcase | remove:' ' }}" class="{% if case.gridSize %}o-grid__item--{{ case.gridSize }} {% endif %}c-card c-card--work">
    <figure class="c-card__image">
      <img src="{{ case.cover }}" srcset="{{ case.cover }} 1x, {{ case.cover-hq }} 2x" sizes="100vw" alt="{{ case.name }} &mdash; {{ case.summary }}">
    </figure>
    <header class="c-card__header">
      <h3><a href="/work/{{ case.name | downcase | remove: ' ' }}">{{ case.name }}</a></h3>
      <p>{{ case.summary }}</p>
    </header>
  </article>
  {% endfor %}
</section>
{% endblock %}