{% layout master %}
{% block layout %}
<header class="o-grid-align__inset c-page__header">
  <h1>{{ title }}</h1>
  <h2>{{ lede }}</h2>  
</header>
<section class="c-section">
  <h4>Latest Writing</h4>
  {% for item in collections.articles %}
  <article class="c-card c-card--essay">
    <figure class="c-card__figure c-figure"><img src="{{ item.data.cover }}" alt="{{ item.data.title }}"></figure>
    <header class="c-card__header">
      <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
    </header>
    <main class="c-card__main">
      <p>{{ item.data.lede }}</p>
    </main>
    <footer class="c-card__footer">
      <time datetime="{{ item.data.date | date: "%Y-%m-%dT%H:%M:%S.%L%z" }}"><p>Written on {{ item.data.date | date: "%B %e" }} at {{ item.data.date | date: "%l:%M %P" }}</p></time>
    </footer>
  </article>
  {% endfor %}
  <div>
    <h4>Bookmarked</h4>
    {% for item in collections.bookmarks %}
    <article class="c-card c-card--bookmark">
      <header class="c-card__header">
        <h3><a href="{{ item.url }}">{{ item.data.title }}</a></h3>
      </header>
      <main class="c-card__main">
        <a href="{{ item.data.link }}">{{ item.data.source }}</a>
      </main>
    </article>
    {% endfor %}
  </div><!--end bookmarks-->
</section><!--end latest article + bookmarks-->

<section class="c-section">
  <h4>Notes</h4>
  {% for item in collections.notes %}
  <article class="c-card c-card--note">
    {% if item.data.cover %}
    <figure class="c-card__figure c-figure"><img src="{{ item.data.cover }}" alt="{{ item.data.title }}"></figure>
    {% endif %}
    {% if item.data.title %}
    <header class="c-card__header">
      <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
    </header>
    {% endif %}
    <main class="c-card__main">
      {{ item.templateContent | truncate: 400 }}
    </main>
    <footer class="c-card__footer">
      <time datetime="{{ item.data.date | date: "%Y-%m-%dT%H:%M:%S.%L%z" }}"><p>Noted on {{ item.data.date | date: "%B %e" }} at {{ item.data.date | date: "%l:%M %P" }}</p></time>
    </footer>  
  </article>
  {% endfor %}  
</section><!--end notes-->

<section class="c-section">
  <div>
    <h4>Entertainment</h4>
    {% for item in collections.entertainment %}
    <article class="c-card c-card--playlist">
      {% if item.data.cover %}
      <figure class="c-card__figure c-figure"><img src="{{ item.data.cover }}" alt="{{ item.data.title }}"></figure>
      {% endif %}
      {% if item.data.title %}
      <header class="c-card__header">
        <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
      </header>
      {% endif %}
      <main class="c-card__main">
        {{ item.templateContent | truncate: 400 }}
      </main>
      <footer class="c-card__footer">
        <time datetime="{{ item.data.date | date: "%Y-%m-%dT%H:%M:%S.%L%z" }}"><p>Noted on {{ item.data.date | date: "%B %e" }} at {{ item.data.date | date: "%l:%M %P" }}</p></time>
      </footer>  
    </article>
    {% endfor %}
  </div><!--end entertainment-->
  <aside>
    <h4>Blog Roll</h4>
    {% for item in blogroll %}
    <article class="c-card">
      <main class="c-card__main">
        <a href="{{ item.link }}">{{ item.name }}</a>
      </main>
    </article>
    {% endfor %}
  </aside>
</section><!--end entertainment + blogroll-->
{% endblock %}