<article class="{% if item.data.cover %}o-grid__cell--large {% endif %}c-card c-card--note">
  {% if item.data.cover %}
  <figure class="c-card__figure c-figure"><a href="{{ item.url }}"><img src="{{ item.data.cover }}" alt="{{ item.data.title }}"></a></figure>
  {% endif %}
  {% if item.data.title %}
  <header class="c-card__header">
    <h2><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
  </header>
  {% endif %}
  <div class="c-card__body">
    {{ item.templateContent | truncate: 350 }}
  </div>
  <footer class="c-card__footer">
    <time datetime="{{ item.data.date | date: "%Y-%m-%dT%H:%M:%S.%L%z" }}"><a href="{{ item.url }}"><p>Noted on {{ item.data.date | date: "%B %e" }} at {{ item.data.date | date: "%l:%M %P" }}</p></a></time>
  </footer>  
</article>